@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --fw-700:700;
  --fw-400:400;
  --fs-60:60px;
  --fs-50:50px;
  --fs-44:44px;
  --fs-42:42px;
  --fs-40:40px;
  --fs-32:32px;
  --fs-30:30px;
  --fs-28:28px;
  --fs-24:24px;
  --fs-18:18px;
  --fs-16:16px;
  --fs-15:15px;
  --fs-14:14px;
  --fs-12:12px;
  --lh-66:66px;
  --lh-55:55px;
  --lh-46_2:46.2px;
  --lh-42:42px;
  --lh-33_6:33.6px;
  --lh-29_4:29.4px;
  --lh-26_4:26.4px;
  --lh-24_3:24.3px;
  --lh-22_4:22.4px;
  --lh-21:21px;
  --lh-19_6:19.6px;
  --lh-14_28:14.28px;
  --color-white:#fff;
  --color-white-green:#E8F4EF;
  --color-grey-opacity:#D6D6D6;
  --color-green:#79C65B;
  --color-black-green:#183835;
  --color-black:#000;
}