@import "../../mixins";

.button_request{
  width: 43%;
  background-color: var(--color-green);
  @include position-center__down;
  margin-top: 50px;
  margin-left: 85px;
  font-weight: var(--fw-700);
  font-size: var(--fs-16);
  line-height: var(--lh-21);
}

.cleantech-style{
  color: var(--color-black-green);
  .link__icon{

    width: 40px;
    height: 40px;
    background-color: var(--color-grey-opacity);

    svg{
      path{
        fill: var(--color-black-green)!important;
      }
    }
  }
}

.the__best-button{
  justify-content: end!important;
  margin: 0;
  .caruseel__buttons{
    .car__button{
      background-color: rgba(0,0,0, 0);
      border: 1px solid #fff;
      svg{
        fill: var(--color-white);
      }
    }
  }
}

.projects__carusel{
  grid-template-columns: 1fr 1fr 0.3fr !important;
}

 .slide_opacity{
   position: relative!important;
   .last__child-text{
     position: absolute;
     font-size: var(--fs-24) !important;
    right: -29px;
   }
   .last-solution-icon{
     position: absolute;
     right: -100px;
   }
 }

.projects__slide:first-child{
  background-image: url("../../../../assets/images/worker-solar-panel.png");
}

.projects__slide:nth-child(2){
  background-image: url("../../../../assets/images/night-fon.png");
}

.projects__slide:last-child{
  background-image: url("../../../../assets/images/generait-energy.png");
}

.user{
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.3fr;
  &-image{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    position: relative;
    img{
      width: 100%;
      height: 100%;

      &:last-child{
        width: 30%;
        height: 30%;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &-quest{
    grid-column: 2;
    margin-top: 2%;
    margin-left: 10%;
    h3{
      font-size: var(--fs-28);
      line-height: var(--lh-46_2);
    }
    p{
      width: 47%;
      font-size: var(--fs-16);
      line-height: var(--lh-21);
    }
  }

  .contact__us__users{
    @include center-block;

    a{
      border: none;
      padding: 20px 20px!important;
      border-radius: 35px;
      background-color: var(--color-green);
      svg{
        padding-top: 5px;
      }
    }

  }
}