@import "../../mixins";

@media (max-width: 700px) {
  .button_request {

    margin-left: 0;
    font-size: var(--fs-12);
    padding: 10px 20px;
  }

  .the__best-button {
    grid-row: 4;
    grid-column: 1;
  }

  .projects__carusel{
    grid-template-columns: 90% 0.6fr 0.6fr 0.3fr!important;
    margin-left: 10px;
    grid-gap: 10px!important;
  }
}