.button_request {
  width: 43%;
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 85px;
  font-weight: var(--fw-700);
  font-size: var(--fs-16);
  line-height: var(--lh-21);
}

.cleantech-style {
  color: var(--color-black-green);
}
.cleantech-style .link__icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-grey-opacity);
}
.cleantech-style .link__icon svg path {
  fill: var(--color-black-green) !important;
}

.the__best-button {
  justify-content: end !important;
  margin: 0;
}
.the__best-button .caruseel__buttons .car__button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}
.the__best-button .caruseel__buttons .car__button svg {
  fill: var(--color-white);
}

.projects__carusel {
  grid-template-columns: 1fr 1fr 0.3fr !important;
}

.slide_opacity {
  position: relative !important;
}
.slide_opacity span {
  position: absolute;
  left: 0;
  font-size: var(--fs-24) !important;
}
.slide_opacity span:last-child {
  right: -29px;
}
.slide_opacity .solution-icon {
  position: absolute;
}
.slide_opacity .last-solution-icon {
  right: -100px;
}

@media (max-width: 700px) {
  .button_request {
    margin-left: 0;
    font-size: var(--fs-12);
    padding: 10px 20px;
  }
  .the__best-button {
    grid-row: 4;
    grid-column: 1;
  }
}