.size {
  width: 100vw;
  max-width: 1440px;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/header-background-fon.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.header .header-nav {
  width: 100%;
}
.header-nav__top {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.community-and-partners {
  color: var(--color-black);
  font-weight: var(--fw-700);
  font-style: var(--fs-14);
  line-height: var(--lh-19_6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.green-realtors-program {
  display: none;
}

.analysis__contact-us {
  width: 26%;
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
  line-height: var(--lh-21);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.analysis__contact-us .analysis-p {
  line-height: var(--lh-19_6);
  color: var(--color-black);
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}
.analysis__contact-us .analysis-p span {
  font-weight: var(--fw-700);
  margin-right: 10px;
}
.analysis__contact-us .analysis-span {
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
  line-height: var(--lh-21);
  padding-left: 20px;
  color: var(--color-green);
  border-left: 1px solid var(--color-grey-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
}
.analysis__contact-us .analysis-span svg {
  margin-left: 10px;
}

.header-nav__bottom {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__bottom-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 70%;
  font-family: var(--font-family);
  font-size: var(--fs-16);
  line-height: var(--lh-24_3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu .menu-our__activities {
  font-weight: var(--fw-700);
}
.header__menu .menu-our__projects {
  font-weight: var(--fw-400);
  color: var(--color-grey-opacity);
}
.header__menu .menu-our__activities, .header__menu .menu-our__projects {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 25px;
}

span svg {
  margin-left: 10px;
}

.header__short-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__short-info .short__title h1 {
  font-family: var(--font-family);
  font-weight: var(--fw-700);
  font-size: var(--fs-60);
  line-height: var(--lh-55);
}
.header__short-info .short__paragraph__button {
  width: 35%;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__short-info .short__paragraph__button p {
  font-weight: var(--fw-400);
  font-size: var(--fs-18);
  line-height: var(--lh-29_4);
}
.header__short-info .short__paragraph__button .short__btn {
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 35px;
  border: none;
  padding: 20px 30px;
  font-family: var(--font-family);
  font-weight: var(--fw-700);
  font-size: var(--fs-16);
  line-height: var(--lh-21);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__short-info .short__paragraph__button .short__btn svg {
  margin-left: 10px;
}

.burger {
  display: none;
}